* {
    background-color: rgb(103, 66, 235);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 4fr;
    grid-gap: 2px;
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 450px;
    height: auto;
    top: 15%;
    left: 35%;
    
  }

.grid-item {
    background-color: rgb(205, 210, 238);
    font-size: 35px;
    text-align: center;
    line-height: 100px;
}

.grid-item1 {
    background-color: black;
    color: white;
    grid-column:  span 4;
    text-align: right;
    align-items: center;
    line-height: 150px;
    font-size: 40px;
    padding-right: 10px;
}

.grid-item2 {
    background-color: rgb(205, 210, 238);
    grid-column:  span 2;
    text-align: center;
    align-items: center;
    line-height: 100px;
    font-size: 40px;
}

.grid-item3 {
    background-color: rgb(205, 210, 238);
    grid-column:  span 2;
    text-align: center;
    align-items: center;
    line-height: 100px;
    font-size: 40px;
    
}
